Source: amazon-ecs-agent
Maintainer: Don Kjer <don@lindenlab.com>
Section: misc
Priority: extra
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5)

Package: amazon-ecs-agent
Architecture: any
Description: Amazon EC2 Container Service Agent
 The Amazon ECS Container Agent is software developed for the Amazon EC2 Container Service (http://aws.amazon.com/ecs/).
 It runs on Container Instances and starts containers on behalf of Amazon ECS.
